/*
Template Name: Wrapkit
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/*============================================================== 
 You can write your style here and overwrite our style
 ============================================================== */


/*
Template Name: Wrakit UI Kit
Author: wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/**
 * Table Of Content
 *
 *  1. Globals
 *  2. Headers
 *  3. Navigations
 *  4. Banners
 *  5. Footers
 *  6. app
 *  7. Widgets 
 *  8. Custom Templates
 */

@import 'variable';



* {
    -webkit-font-smoothing: antialiased;
}

@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}




@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}





/*******************
General
*******************/

.mini-spacer {
    padding: 30px 0;
    @include breakpoint(md) {
        padding: 40px 0;
    }
}

.spacer {
    padding: 30px 0;
    @include breakpoint(md) {
        padding: 90px 0;
    }
}


.card.card-shadow {
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}


.loader__figure{
    border-color: $themecolor;   
}
.loader__label{
    color: $gray;
}



/*******************
Typography
*******************/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    @include breakpoint(md) {
        font-size: 60px;
    }
}

h2 {
    @include breakpoint(md) {
        font-size: 44px;
        line-height: 58px;
    }
}

h3 {
    @include breakpoint(md) {
        font-size: 30px;
        line-height: 37px;
    }
}

.subtitle {
    font-size: 20px;
    line-height: 30px;
}

.link {
    span {
        color: #3E4555;
        i {
            color: $themecolor;
        }
    }
    &:hover {
        span {
            color: $themecolor;
        }
    }
}

.link-arrow {

    text-transform: uppercase;
    font-family: $headingfont;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    @include breakpoint(md) {
        margin-top: 20px;
    }
}

.link-arrow-w {
    color: $white;
}

.link-arrow-g {
    span{
        color: $gray !important;
    }
}






/*******************
Portfolio1
*******************/
.portfolio-box {
    margin-top: 60px;
    .filter {
        .overlay-box {
            margin-bottom: 30px;
            position: relative;

            .overlay {
                position: absolute;
                background: rgba(0, 0, 0, 0.2);
                transition: 0.2s ease-in;
 
                height: 0px;
                width: 100%;
                display: none;

                padding-top: 30%;
                .port-text {
                    transition: 0.3s;
                    position: absolute;
                    top: 0px;
                    width: 0px;
                    text-align: center;
                    h5 {
                        color: $white;
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 0px;
                    }
                    span {
                        color: $white;
                        font-size: 14px;
                    }
                }
            }
            &:hover {
                .overlay {

                    display: block;
                    top: 0px;
                    height: 100%;
                    .port-text {
                        top: 43%;
                        width: 100%;
                    }
                }
            }
        }
    }
}




/*******************
Nav
*******************/

.topbar {
    @include breakpoint(xs) {
        background: $gray;
        position: relative;
        padding: 15px 0;
    }
    .navbar-nav {
        .nav-link {
            font-size: 12px;
            text-transform: uppercase;
            font-family: $headingfont;
            letter-spacing: 1px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .navbar-toggler {
        color: #ffffff;
    }
    .act-buttons {
        a.btn {
            span {
                color: #ffffff;
                font-size: 11px;
                font-family: $headingfont;
                letter-spacing: 1px;
                font-weight: 600;
            }
            &:hover span {
                color: $themecolor;
                font-weight: 600;
            }
            @include breakpoint(md) {
                padding: 6px 30px;
            }
        }
    }

    &.fixed-header {
        box-shadow: $card-shadow;
        transition: 0.2s ease-in;
        background: $gray;
        .navbar .navbar-brand img {
            height: auto;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
        .navbar-nav .nav-link {
            padding: 25px 15px 30px;
        }
    }
}






/*******************
Backgrounds
*******************/

.bg-orange {
    background: url('../images/bg-orange.png') no-repeat !important;
    background-size: cover !important;
}





/*******************
Buttons
*******************/

.btn {
    font-weight: 600;
    font-family: $headingfont;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    @include breakpoint(md) {

        padding: 10px 30px;
    }
}

.btn-light {
    color: $themecolor;
    &:hover {
        background: $dark;
        color: $white;
        border-color: $dark;
    }
}

.btn-outline-primary {
    background-color: $white;
    color: $themecolor;
    border: 1px solid rgba(255, 38, 230, 0.30);
    box-shadow: 0 3px 4px 0 rgba(255, 38, 230, 0.40);
    transition: 0.2s ease-in;
    &:hover,
    &:focus,
    &.focus {
        background: $themecolor;
        border-color: $themecolor;
    }
    &.active,
    &:active,
    &:focus {
        background: $themecolor;
        color: $white;
    }
}


.btn-outline-secondary {
    background-color: $white;
    color: $secondary;
    border: 1px solid rgba(109, 119, 129, 0.30);
    box-shadow: 0 3px 4px 0 rgba(109, 119, 129, 0.40);
    transition: 0.2s ease-in;
    &:hover,
    &:focus,
    &.focus {}
    &.active,
    &:active,
    &:focus {
        background: $dark;
    }
}


.btn-xl {
    @include breakpoint(md) {
        font-size: 24px;
        padding: 20px 40px;
    }
}

.btn-sm {
    @include breakpoint(md) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    font-size: 11px;
    color: $gray;
    letter-spacing: 1px;
}





.btn-pink {
    background-color: $themecolor;
    color: $white;
    box-shadow: 0 3px 4px 0 rgba(255, 38, 230, 0.30);
    border-radius: 40px;
    transition: 0.2s ease-in;
    &:hover,
    &:focus,
    &.focus {}
    &.active,
    &:active,
    &:focus {
        background: $dark;
    }
}








/*******************
Home Banner
*******************/

.h1-nav {
    padding: 15px 0;
    .navbar-nav .nav-item {
        margin: 0 20px;
        .nav-link {
            padding: 12px 0px;
            color: $muted;
            font-weight: 400;
            &:hover {
                color: $success;
            }
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.banner-home {
    background-size: cover;
    background-position: center bottom;
    padding: 100px 0 60px;
    position: relative;
    @include breakpoint(md) {
        padding: 250px 0 200px;
    }
    .right {
        position: absolute;
        right: -120px;
        top: -100px;

        @include breakpoint(md) {
            right: -280px;
            top: -200px;
        }
        img {
            width: 250px;
            @include breakpoint(md) {
                width: 628px;
            }
        }
    }
    .left {
        position: absolute;
        left: -80px;
        bottom: 0px;

        @include breakpoint(md) {
            left: -200px;
            bottom: 0px;
        }
        img {
            width: 250px;
            @include breakpoint(md) {
                width: 628px;
            }
        }
    }
    h1 {
        @include breakpoint(md) {
            font-size: 120px;
            line-height: 146px;
        }
    }
    h3 {
        font-weight: 700;
        @include breakpoint(md) {
            font-size: 36px;
            line-height: 44px;
        }
    }
    p {
        @include breakpoint(md) {
            font-size: 24px;
            line-height: 36px;
        }
    }
}







/*******************
Services
*******************/

.services {
    .wrap-service-box {
        .card {
            border: 1px solid #DCDEE2;
            border: 1px solid #DCDEE2;
            box-shadow: 0 0 20px 0 rgba(62, 69, 85, 0.10);
            border-radius: 10px;
            .card-body {
                @include breakpoint(md) {
                    padding: 50px 40px;
                }
                .icon-space {
                    margin-right: 20px;
                    @include breakpoint(md) {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}






/*******************
Feature Works
*******************/

.feat-works {
    position: relative;
    .feat-works--item {
        display: block;
        margin-bottom: 30px;
        height: 323px;
        border-radius: 8px;
        overflow: hidden;
        background-size: cover;
        background-repeat: none;
        img.feat-img {
            position: absolute;
            @include breakpoint(xs) {
                width: 400px;
                top: -120px;
            }
            @include breakpoint(sm) {
                width: 400px;
                top: -120px;
                right: -40px;
            }
            @include breakpoint(md) {
                width: 669px;
                position: absolute;
                top: -350px;
                right: -90px;
            }
        }
    }
    .feat-works--info {
        padding: 25px 30px 25px;
        @include breakpoint(md) {
            padding: 50px 60px 50px;
        }
        h3 {
            color: #ffffff;
        }
        p {
            color: #ffffff;
            @include breakpoint(md) {
                font-size: 18px;
                font-weight: 400;
            }
        }
        a {
            color: #ffffff;
            text-transform: uppercase;
            font-family: $headingfont;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            display: block;
            @include breakpoint(md) {
                margin-top: 40px;
            }
        }
    }
}






/*******************
About
*******************/

.wrap-feature-12 {
    position: relative;
    [class*=col-md-12] {
        margin-bottom: 30px;
        transition: 0.2s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
    .uneven-box {
        margin-top: 100px;
    }
}

.team {
    p {
        font-size: 17px;
    }
    h5 {
        @include breakpoint(md) {
            margin-top: 30px;
        }
    }
    .btn {
        @include breakpoint(md) {
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 20px;
        }
    }
    .team-overlay1 {
        position: absolute;
        left: -50px;
        bottom: -30px;
        z-index: 5;
        @include breakpoint(xs) {
            display: none;
        }
    }
    .team-overlay2 {
        position: absolute;
        left: 20px;
        top: -140px;
        z-index: 5;
        @include breakpoint(xs) {
            display: none;
        }
    }
}

.wrap-feature-12 .uneven-box {
    @include breakpoint(xs) {
        margin-top: 0;
    }
}









/*******************
Approach
*******************/

.approach {
    .approach-num {
        font-weight: 700;
        font-size: 24px;
        color: #FF26E6;
        &::after {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            height: 1px;
            width: 65px;
            margin-left: 10px;
            background: $themecolor-dark;
        }
    }
}






/*******************
CTA: Three Column
*******************/

.cta-box {
    .card-body {
        padding: 60px 30px 40px;
    }
}

.cta-box-1 {
    background-image: url("../images/cta-bg-blue.png");
    background-size: cover;
}

.cta-box-2 {
    background-image: url("../images/cta-bg-orange.png");
    background-size: cover;
}

.cta-box-3 {
    background-image: url("../images/cta-bg-pink.png");
    background-size: cover;
}

.cta-main {
    background-size: cover;
}





/*******************
Footer
*******************/

.footer4 {
    .f4-bottom-bar {
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px solid $border;
        .navbar-nav {
            .nav-link {
                font-size: 12px;
                text-transform: uppercase;
                font-family: $headingfont;
                letter-spacing: 1px;
                font-weight: 600;
                &:hover {
                    color: $themecolor;
                }
            }
        }
    }

    .round-social.light a {
        background: #F7F7F7;
        color: #6D7781;
        &:hover {
            color: #ffffff;
            background: $themecolor;
        }
    }

    h5 {
        &:before {
            content: " ";
            background: url("../images/footer-bar.png") no-repeat;
            width: 30px;
            height: 3px;
            display: block;
            margin-bottom: 24px;
        }
    }
}





/*******************
Inner Page
*******************/

.banner-innerpage {
    padding: 70px 0;
    @include breakpoint(md) {
        padding: 150px 0 100px;
    }
    h1 {
        color: #ffffff;
    }
}




/*******************
About / Our Team
*******************/

.about-highlight {
    p {
        @include breakpoint(md) {
            font-size: 20px;
        }
    }
}

.about-tools {
    .card-body{
        padding: 48px 40px 40px;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        color: $gray;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0;
    }
}

/*******************
Contact Us
*******************/
.contact-box-dwm {
    position: relative;
    @include breakpoint(md) {
        margin-bottom: 80px;
    }
    .contact-box-bg1 {
        position: absolute;
        left: 75px;
        top: 60px;
    }
    .contact-box-bg2 {
        position: absolute;
        right: 75px;
        bottom: -20px;
    }
    .box {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        z-index: 8;
        padding: 30px;
        @include breakpoint(md) {
            max-width: 591px;
            margin: 0 auto;
            padding: 55px 45px;
        }
        .form-control {
            /* Rectangle 8: */
            font-size: 14px;
            background: #FFFFFF;
            border: 1px solid #DCDEE2;
            box-shadow: 0 2px 4px 0 rgba(220, 222, 226, 0.50);
            border-radius: 5px;
        }
        input {
            @include placeholder {
                color: #AEB5B6;
            }
            &:focus{
                border-color: $themecolor;
                box-shadow: 0 2px 4px 0 rgba(167,112,248,0.50);
            }
        }
        textarea {
            @include placeholder {
                color: #AEB5B6;
            }
            &:focus{
                border-color: $themecolor;
                box-shadow: 0 2px 4px 0 rgba(167,112,248,0.50);
            }
        }
        .contact-alter {
            display: block;
            p {
                font-weight: 400;
                margin-top: 20px;
                text-align: center;
                font-size: 13px;
                a {
                    color: $gray;
                    border-bottom: 1px solid #A770F8;
                    padding-bottom: 3px;
                }
            }
        }
    }
}



/*******************
Thank You
*******************/
.thankyou{
    img{
         @include breakpoint(xs) {
            max-width: 140px;
         }
    }
    p{
         @include breakpoint(xs) {
            font-size: 17px;
         }
    }
}


 