/*
Template Name: Wrapkit
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*============================================================== 
 You can write your style here and overwrite our style
 ============================================================== */
/*
Template Name: Wrakit UI Kit
Author: wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/**
 * Table Of Content
 *
 *  1. Globals
 *  2. Headers
 *  3. Navigations
 *  4. Banners
 *  5. Footers
 *  6. app
 *  7. Widgets 
 *  8. Custom Templates
 */
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Gradiant*/
* {
  -webkit-font-smoothing: antialiased; }

/*******************
General
*******************/
.mini-spacer {
  padding: 30px 0; }
  @media (min-width: 992px) {
    .mini-spacer {
      padding: 40px 0; } }

.spacer {
  padding: 30px 0; }
  @media (min-width: 992px) {
    .spacer {
      padding: 90px 0; } }

.card.card-shadow {
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1); }

.loader__figure {
  border-color: #C71BC1; }

.loader__label {
  color: #8D97AD; }

/*******************
Typography
*******************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

@media (min-width: 992px) {
  h1 {
    font-size: 60px; } }

@media (min-width: 992px) {
  h2 {
    font-size: 44px;
    line-height: 58px; } }

@media (min-width: 992px) {
  h3 {
    font-size: 30px;
    line-height: 37px; } }

.subtitle {
  font-size: 20px;
  line-height: 30px; }

.link span {
  color: #3E4555; }
  .link span i {
    color: #C71BC1; }

.link:hover span {
  color: #C71BC1; }

.link-arrow {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: block; }
  @media (min-width: 992px) {
    .link-arrow {
      margin-top: 20px; } }

.link-arrow-w {
  color: #ffffff; }

.link-arrow-g span {
  color: #8D97AD !important; }

@media (min-width: 992px) {
  .item {
    width: 100%; } }

/*******************
Portfolio1
*******************/
.portfolio-box {
  margin-top: 60px; }
  .portfolio-box .filter .overlay-box {
    margin-bottom: 30px;
    position: relative; }
    .portfolio-box .filter .overlay-box .overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      height: 0px;
      width: 100%;
      display: none;
      padding-top: 30%; }
      .portfolio-box .filter .overlay-box .overlay .port-text {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        position: absolute;
        top: 0px;
        width: 0px;
        text-align: center; }
        .portfolio-box .filter .overlay-box .overlay .port-text h5 {
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 0px; }
        .portfolio-box .filter .overlay-box .overlay .port-text span {
          color: #ffffff;
          font-size: 14px; }
    .portfolio-box .filter .overlay-box:hover .overlay {
      display: block;
      top: 0px;
      height: 100%; }
      .portfolio-box .filter .overlay-box:hover .overlay .port-text {
        top: 43%;
        width: 100%; }

/*******************
Nav
*******************/
@media (max-width: 767px) {
  .topbar {
    background: #8D97AD;
    position: relative;
    padding: 15px 0; } }

.topbar .navbar-nav .nav-link {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8); }

.topbar .navbar-toggler {
  color: #ffffff; }

.topbar .act-buttons a.btn span {
  color: #ffffff;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 600; }

.topbar .act-buttons a.btn:hover span {
  color: #C71BC1;
  font-weight: 600; }

@media (min-width: 992px) {
  .topbar .act-buttons a.btn {
    padding: 6px 30px; } }

.topbar.fixed-header {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background: #8D97AD; }
  .topbar.fixed-header .navbar .navbar-brand img {
    height: auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1); }
  .topbar.fixed-header .navbar-nav .nav-link {
    padding: 25px 15px 30px; }

/*******************
Backgrounds
*******************/
.bg-orange {
  background: url("../images/bg-orange.png") no-repeat !important;
  background-size: cover !important; }

/*******************
Buttons
*******************/
.btn {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.4px;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .btn {
      padding: 10px 30px; } }

.btn-light {
  color: #C71BC1; }
  .btn-light:hover {
    background: #263238;
    color: #ffffff;
    border-color: #263238; }

.btn-outline-primary {
  background-color: #ffffff;
  color: #C71BC1;
  border: 1px solid rgba(255, 38, 230, 0.3);
  -webkit-box-shadow: 0 3px 4px 0 rgba(255, 38, 230, 0.4);
  box-shadow: 0 3px 4px 0 rgba(255, 38, 230, 0.4);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.focus {
    background: #C71BC1;
    border-color: #C71BC1; }
  .btn-outline-primary.active, .btn-outline-primary:active, .btn-outline-primary:focus {
    background: #C71BC1;
    color: #ffffff; }

.btn-outline-secondary {
  background-color: #ffffff;
  color: #727b84;
  border: 1px solid rgba(109, 119, 129, 0.3);
  -webkit-box-shadow: 0 3px 4px 0 rgba(109, 119, 129, 0.4);
  box-shadow: 0 3px 4px 0 rgba(109, 119, 129, 0.4);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  .btn-outline-secondary.active, .btn-outline-secondary:active, .btn-outline-secondary:focus {
    background: #263238; }

@media (min-width: 992px) {
  .btn-xl {
    font-size: 24px;
    padding: 20px 40px; } }

.btn-sm {
  font-size: 11px;
  color: #8D97AD;
  letter-spacing: 1px; }
  @media (min-width: 992px) {
    .btn-sm {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px; } }

.btn-pink {
  background-color: #C71BC1;
  color: #ffffff;
  -webkit-box-shadow: 0 3px 4px 0 rgba(255, 38, 230, 0.3);
  box-shadow: 0 3px 4px 0 rgba(255, 38, 230, 0.3);
  border-radius: 40px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  .btn-pink.active, .btn-pink:active, .btn-pink:focus {
    background: #263238; }

/*******************
Home Banner
*******************/
.h1-nav {
  padding: 15px 0; }
  .h1-nav .navbar-nav .nav-item {
    margin: 0 20px; }
    .h1-nav .navbar-nav .nav-item .nav-link {
      padding: 12px 0px;
      color: #8d97ad;
      font-weight: 400; }
      .h1-nav .navbar-nav .nav-item .nav-link:hover {
        color: #2cdd9b; }
    .h1-nav .navbar-nav .nav-item:last-child {
      margin-right: 0px; }

.banner-home {
  background-size: cover;
  background-position: center bottom;
  padding: 100px 0 60px;
  position: relative; }
  @media (min-width: 992px) {
    .banner-home {
      padding: 250px 0 200px; } }
  .banner-home .right {
    position: absolute;
    right: -120px;
    top: -100px; }
    @media (min-width: 992px) {
      .banner-home .right {
        right: -280px;
        top: -200px; } }
    .banner-home .right img {
      width: 250px; }
      @media (min-width: 992px) {
        .banner-home .right img {
          width: 628px; } }
  .banner-home .left {
    position: absolute;
    left: -80px;
    bottom: 0px; }
    @media (min-width: 992px) {
      .banner-home .left {
        left: -200px;
        bottom: 0px; } }
    .banner-home .left img {
      width: 250px; }
      @media (min-width: 992px) {
        .banner-home .left img {
          width: 628px; } }
  @media (min-width: 992px) {
    .banner-home h1 {
      font-size: 120px;
      line-height: 146px; } }
  .banner-home h3 {
    font-weight: 700; }
    @media (min-width: 992px) {
      .banner-home h3 {
        font-size: 36px;
        line-height: 44px; } }
  @media (min-width: 992px) {
    .banner-home p {
      font-size: 24px;
      line-height: 36px; } }

/*******************
Services
*******************/
.services .wrap-service-box .card {
  border: 1px solid #DCDEE2;
  border: 1px solid #DCDEE2;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 69, 85, 0.1);
  box-shadow: 0 0 20px 0 rgba(62, 69, 85, 0.1);
  border-radius: 10px; }
  @media (min-width: 992px) {
    .services .wrap-service-box .card .card-body {
      padding: 50px 40px; } }
  .services .wrap-service-box .card .card-body .icon-space {
    margin-right: 20px; }
    @media (min-width: 992px) {
      .services .wrap-service-box .card .card-body .icon-space {
        margin-right: 40px; } }

/*******************
Feature Works
*******************/
.feat-works {
  position: relative; }
  .feat-works .feat-works--item {
    display: block;
    margin-bottom: 30px;
    height: 323px;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    background-repeat: none; }
    .feat-works .feat-works--item img.feat-img {
      position: absolute; }
      @media (max-width: 767px) {
        .feat-works .feat-works--item img.feat-img {
          width: 400px;
          top: -120px; } }
      @media (min-width: 768px) {
        .feat-works .feat-works--item img.feat-img {
          width: 400px;
          top: -120px;
          right: -40px; } }
      @media (min-width: 992px) {
        .feat-works .feat-works--item img.feat-img {
          width: 669px;
          position: absolute;
          top: -350px;
          right: -90px; } }
  .feat-works .feat-works--info {
    padding: 25px 30px 25px; }
    @media (min-width: 992px) {
      .feat-works .feat-works--info {
        padding: 50px 60px 50px; } }
    .feat-works .feat-works--info h3 {
      color: #ffffff; }
    .feat-works .feat-works--info p {
      color: #ffffff; }
      @media (min-width: 992px) {
        .feat-works .feat-works--info p {
          font-size: 18px;
          font-weight: 400; } }
    .feat-works .feat-works--info a {
      color: #ffffff;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
      display: block; }
      @media (min-width: 992px) {
        .feat-works .feat-works--info a {
          margin-top: 40px; } }

/*******************
About
*******************/
.wrap-feature-12 {
  position: relative; }
  .wrap-feature-12 [class*=col-md-12] {
    margin-bottom: 30px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }
    .wrap-feature-12 [class*=col-md-12]:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .wrap-feature-12 .uneven-box {
    margin-top: 100px; }

.team p {
  font-size: 17px; }

@media (min-width: 992px) {
  .team h5 {
    margin-top: 30px; } }

@media (min-width: 992px) {
  .team .btn {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px; } }

.team .team-overlay1 {
  position: absolute;
  left: -50px;
  bottom: -30px;
  z-index: 5; }
  @media (max-width: 767px) {
    .team .team-overlay1 {
      display: none; } }

.team .team-overlay2 {
  position: absolute;
  left: 20px;
  top: -140px;
  z-index: 5; }
  @media (max-width: 767px) {
    .team .team-overlay2 {
      display: none; } }

@media (max-width: 767px) {
  .wrap-feature-12 .uneven-box {
    margin-top: 0; } }

/*******************
Approach
*******************/
.approach .approach-num {
  font-weight: 700;
  font-size: 24px;
  color: #FF26E6; }
  .approach .approach-num::after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 65px;
    margin-left: 10px;
    background: #AF2FD9; }

/*******************
CTA: Three Column
*******************/
.cta-box .card-body {
  padding: 60px 30px 40px; }

.cta-box-1 {
  background-image: url("../images/cta-bg-blue.png");
  background-size: cover; }

.cta-box-2 {
  background-image: url("../images/cta-bg-orange.png");
  background-size: cover; }

.cta-box-3 {
  background-image: url("../images/cta-bg-pink.png");
  background-size: cover; }

.cta-main {
  background-size: cover; }

/*******************
Footer
*******************/
.footer4 .f4-bottom-bar {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid rgba(120, 130, 140, 0.13); }
  .footer4 .f4-bottom-bar .navbar-nav .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: 600; }
    .footer4 .f4-bottom-bar .navbar-nav .nav-link:hover {
      color: #C71BC1; }

.footer4 .round-social.light a {
  background: #F7F7F7;
  color: #6D7781; }
  .footer4 .round-social.light a:hover {
    color: #ffffff;
    background: #C71BC1; }

.footer4 h5:before {
  content: " ";
  background: url("../images/footer-bar.png") no-repeat;
  width: 30px;
  height: 3px;
  display: block;
  margin-bottom: 24px; }

/*******************
Inner Page
*******************/
.banner-innerpage {
  padding: 70px 0; }
  @media (min-width: 992px) {
    .banner-innerpage {
      padding: 150px 0 100px; } }
  .banner-innerpage h1 {
    color: #ffffff; }

/*******************
About / Our Team
*******************/
@media (min-width: 992px) {
  .about-highlight p {
    font-size: 20px; } }

.about-tools .card-body {
  padding: 48px 40px 40px; }

.about-tools p {
  font-weight: 500;
  font-size: 14px;
  color: #8D97AD;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0; }

/*******************
Contact Us
*******************/
.contact-box-dwm {
  position: relative; }
  @media (min-width: 992px) {
    .contact-box-dwm {
      margin-bottom: 80px; } }
  .contact-box-dwm .contact-box-bg1 {
    position: absolute;
    left: 75px;
    top: 60px; }
  .contact-box-dwm .contact-box-bg2 {
    position: absolute;
    right: 75px;
    bottom: -20px; }
  .contact-box-dwm .box {
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 8;
    padding: 30px; }
    @media (min-width: 992px) {
      .contact-box-dwm .box {
        max-width: 591px;
        margin: 0 auto;
        padding: 55px 45px; } }
    .contact-box-dwm .box .form-control {
      /* Rectangle 8: */
      font-size: 14px;
      background: #FFFFFF;
      border: 1px solid #DCDEE2;
      -webkit-box-shadow: 0 2px 4px 0 rgba(220, 222, 226, 0.5);
      box-shadow: 0 2px 4px 0 rgba(220, 222, 226, 0.5);
      border-radius: 5px; }
    .contact-box-dwm .box input::-webkit-input-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box input:-moz-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box input::-moz-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box input:-ms-input-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box input:focus {
      border-color: #C71BC1;
      -webkit-box-shadow: 0 2px 4px 0 rgba(167, 112, 248, 0.5);
      box-shadow: 0 2px 4px 0 rgba(167, 112, 248, 0.5); }
    .contact-box-dwm .box textarea::-webkit-input-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box textarea:-moz-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box textarea::-moz-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box textarea:-ms-input-placeholder {
      color: #AEB5B6; }
    .contact-box-dwm .box textarea:focus {
      border-color: #C71BC1;
      -webkit-box-shadow: 0 2px 4px 0 rgba(167, 112, 248, 0.5);
      box-shadow: 0 2px 4px 0 rgba(167, 112, 248, 0.5); }
    .contact-box-dwm .box .contact-alter {
      display: block; }
      .contact-box-dwm .box .contact-alter p {
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
        font-size: 13px; }
        .contact-box-dwm .box .contact-alter p a {
          color: #8D97AD;
          border-bottom: 1px solid #A770F8;
          padding-bottom: 3px; }

/*******************
Thank You
*******************/
@media (max-width: 767px) {
  .thankyou img {
    max-width: 140px; } }

@media (max-width: 767px) {
  .thankyou p {
    font-size: 17px; } }
