/*
Template Name: Wrapkit
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Gradiant*/
/*============================================================== 
 This scss/css we made it from our predefine componenet 
 we just copy that css and paste here you can also do that
 ============================================================== */
/*******************
Header 1
*******************/
.h1-nav {
  padding: 15px 0; }
  .h1-nav .navbar-nav .nav-item > .nav-link {
    line-height: 70px; }
  .h1-nav .navbar-nav .nav-item {
    margin: 0 20px; }
    .h1-nav .navbar-nav .nav-item .nav-link {
      padding: 12px 0px;
      color: #8d97ad;
      font-weight: 400; }
    .h1-nav .navbar-nav .nav-item:hover .nav-link {
      color: #C71BC1; }
    .h1-nav .navbar-nav .nav-item:last-child {
      margin-right: 0px; }

/*******************
Static slide 9
*******************/
.static-slider9 {
  overflow: hidden; }
  .static-slider9 .bg-img {
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: 0px;
    height: 100%; }
    .static-slider9 .bg-img img {
      margin-left: -200px;
      padding-top: 100px;
      position: absolute;
      bottom: 0px; }
  .static-slider9 .container {
    z-index: 1; }
  .static-slider9 .info-detail {
    min-height: calc(100vh - 0px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto; }
    .static-slider9 .info-detail .title {
      font-size: 48px;
      font-weight: 700;
      line-height: 50px; }
    .static-slider9 .info-detail .subtitle {
      margin: 50px 0; }
  .static-slider9 .adv-img {
    padding-top: 100px; }

@media (max-width: 767px) {
  .static-slider9 .bg-img {
    position: relative; }
    .static-slider9 .bg-img img {
      margin-left: 0px;
      padding: 20px 20px 0 20px;
      position: relative; }
  .static-slider9 .info-detail .title {
    font-size: 40px; } }

/*******************
footer social icons
*******************/
footer .round-social a {
  background: rgba(120, 130, 140, 0.13);
  color: #8d97ad;
  width: 40px;
  height: 40px;
  line-height: 40px; }
  footer .round-social a:hover {
    color: #ffffff; }
